.quiz {
	padding: 0px 20px;
	border: 1px solid black;
	margin-top: 20px;
	height: 100%;
	width: 75%;
}

.quesInQuiz {
	height: 60%;
	width: 80%;
	background-color: #eff9fc;
	margin-left: 15%;
	padding-top: 1px;
}

li label {
	display: flex;
	align-items: center;
	height: 20px;
}

li label input {
	margin-right: 0.5rem;
}

.quesInQuiz-status {
	float: left;
	border: 1px solid black;
	padding: 10px;
	background-color: #f0f0f0;
}

.quesInQuiz-status .question-index {
	color: rgb(183, 29, 29);
}

.quesInQuiz-status-flag::before {
	content: "\2691";
	display: inline-block;
	font-size: 1rem;
}

.quesInQuiz-status-flag.flagged::before {
	color: rgb(183, 29, 29);
}

.quiz-page {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.quiz-navigation {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	padding: 10px;
}

.quiz-nav-item {
	border: 2px solid black;
	border-radius: 10%;
	width: 30px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 16px;
	margin-right: 10px;
	cursor: pointer;
}

.quiz-nav-item.answered {
	background-color: #cdc7c7;
}

.quiz-navigation-box {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 20%;
	margin-top: 20px;
	margin-right: 3%;
	border: 1px solid black;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.navigation-header {
	padding: 0px 10px;
	margin-bottom: 10px;
	border-bottom: 1px solid black;
	color: rgb(183, 29, 29);
	background-color: #f0f0f0;
	justify-self: center;
	width: 100%;
	height: 100%;
}

.quiz-nav-item.selected {
	box-shadow: 0px 0px 6px #565555;
}

.quiz-navigation-box button {
	padding: 10px;
	border: none;
	background-color: white;
	cursor: pointer;
}

.quiz-navigation-box button:hover {
	text-decoration: underline;
}