.New_quiz{
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	height: 100%;
	border: 1px solid black;
  }
/*----------------------- */
.line1 p{
	font-size: 30px;
	display: flex;
	flex-direction: row;
	color: rgb(200, 48, 48);
}
.general {
	border-bottom: 2px solid #e8eef6;
	margin-top: -40px;
}

/*---------------------- */
.main{
	display: flex;
	padding-left: 20px;
}
.importArea{	
	margin-top: -10px;
}
.input-field{
	opacity: 0;
}
.btnoteimp{
	display: flex;
	flex-direction: row;
}
.buttonImport {
	display: flex;
	flex-direction: column;
	justify-content: center;
	border: none;
	background-color: rgb(25, 157, 205);
	width: 30vw;
	height: 50px;
	border-radius: 10px;
	font-size: 20px;
	color: white;
	margin-left: 10vw;
}
.buttonImport:hover{
	background-color: rgb(13, 77, 123);
}
.note{
	display: flex;
	margin-left: 20px;
}
.uploaded-row{
	margin: 10px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px 20px;
	border-radius: 5px;
	background-color: #e9f0ff;
}
.upload-content{
	display: flex;
	align-items: center;
}

/*----------------------*/
.dropzone {
	margin-top: 10px;
	margin-left: 10vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center; 
	height: 200px;
	width: 50vw;
	border: 2px dashed rgb(117, 112, 112);
	padding: 2rem;
  }
  .main.active {
	background-color: #5f5959;
  }
  
  .btnImport {
	padding: 10px;
	margin: 1rem;
	font-size: medium;
	background-color: rgb(224, 85, 85);
	color: #ffffff;
	border: none;
	border-radius: 10px;
	margin-left: 10vw;
  }
  .btnImport:hover{
	background-color: #740d0d;
  }

  .list-item {
	display: flex;
	padding: 0;
	margin: 8px 0;
	min-width: 300px;
	font-size: 22px;
	background-color: #d4d2d2;
	cursor: grab;
	border-radius: 10px;
  }
  
  .list-item > h3 {
	padding: 10px;
	margin: 0;
  }
  
  .list-item > span {
	margin-right: 10px;
	font-size: 24px;
	font-weight: bold;
	border-right: 2px solid white;
	padding: 10px;
	padding-right: 16px;
  }
  
  .next-position {
	border: 2px solid #34d44f;
	opacity: 0.2;
  }


  