html {
  font-size: 22px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

body {
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%; 
}

.header {
  padding: 5px 0px 5px 20px;
  font-size: 30px;
  height: 30px;
  background-color: rgb(5, 102, 172);
  color: aliceblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .account {
  padding-top: 10px;
  padding-right: 30px;
}

/*_______________Navbar_____________________*/

.navbar{
  padding-bottom: 50px;
  border: solid 1px black;
  border-top: 0px;
}
.navbar_text{
  padding-bottom: -20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar_text p{
  padding-left: 10px;
  margin-top: 10px;
  font-size: 40px;
  color: rgb(208, 12, 12);
}
.navbar_text a{
  margin-top: -50px;
  margin-right: 20px;
}
.navbar_menu{
  margin-top: -50px;
}
.navbar_menu ul{
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}
.navbar_menu ul li  {
  font-size: 20px;
  text-decoration: none;
  list-style-type: none;
  display: inline;
}
.navbar_menu ul li a {
  color: black;
  text-decoration: none;
}
.navbar_menu ul li :hover{
  color: red;
}

.active-link {
  color: red !important;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
}

footer {
  width: 100%;
  padding: 0.25em;
  background-color: mediumblue;
  color: aliceblue;
  display: grid;
  place-content: center;
}

ul {
  width: 100%;
  list-style: none;
  padding: 0 0.25rem 0.25rem;
}

ul li::before {
  content: "\200B";
}

.item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0.5rem 0 0.5rem 0.5rem;
  margin: 0.25rem 0;
  background-color: #eee;
}

.item:first-child {
  margin: 0;
}

.item input[type="checkbox"] {
  text-align: center;
  width: 2.5rem;
  width: 48px;
  min-width: 48px;
  height: 2.5rem;
  height: 48px;
  min-height: 48px;
  cursor: pointer;
  margin-right: 0.5rem;
}

.item input[type="checkbox"]:focus + label {
  text-decoration: underline;
}

.item > label {
  font-size: 0.75rem;
  flex-grow: 1;
}

.item svg {
  width: 48px;
  min-width: 48px;
  height: 36px;
  font-size: 1rem;
  color: steelblue;
  cursor: pointer;
}

.item svg:focus, 
.item svg:hover {
  color: red;
  outline: none;
}

/*_______________DropDownMenu_______________*/
.dropdown-container {
  display: flex;
  justify-content: center;
}

.dropdown-btn {
  position: absolute;
  top: 70px;
  right: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.dropdown {
  position: absolute;
  top: 100px;
  right: 20px;
  width: 190px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #ffffff;
  z-index: 1;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.dropdown-section {
  font-size: 20px;
  color: black;
  display: flex;
  align-items: center;
  height: 50px;
  padding: 10px;
  cursor: pointer;
  font-weight: bold;
}

.dropdown-item {
  font-size: 20px;
  color: black;
  display: flex;
  align-items: center;
  height: 40px;
  width: 100%;
  padding: 5px 10px;
  cursor: pointer;
  text-decoration: none;
}

.dropdown-menu {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  transition: all 0.3s ease-in-out;
  border-radius: 0px 0px 10px 10px;
  background-color: #ffffff;
}

.dropdown-menu::after {
  content: '';
  position: absolute;
  top: -8px;
  right: 20px;
  border-style: solid;
  border-width: 0px 10px 8px 10px;
  border-color: transparent transparent #ffffff transparent;
}

.dropdown-item:hover {
  background-color: #f2f2f2;
}
 
.button-in-navbar {
  font-size: 20px;
  position: absolute;
  top: 150px;
  right: 20px;
  width: 250px;
  height: 50px;
  border-radius: 0%;
  border: none;
  color: white;
  background-color: rgb(31, 130, 201);
}

.button-in-navbar:hover{
  background-color: rgb(12, 79, 126);
}

.active-link {
  color: red !important;
}
