.edit-question{
    box-sizing: border-box;
    margin-top: 20px;
    height: 100%;
    border: 1px solid black;
    padding: 0px 20px;
}

.edit-question h1{
    color: rgb(208, 12, 12);
    font-size: 30px;
    font-weight: normal;
}

.edit-question h5{
    color: rgb(208, 12, 12);
    font-size: 18px;
}

* {
    box-sizing: border-box;
  }
  
  label {
    font-size: 18px;
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
  .col-40 {
    float: left;
    width: 40%;
    margin-top: 6px;
  }
  
  .col-60 {
    float: left;
    width: 60%;
    margin-top: 6px;
  }

  .col-20 {
    float: left;
    width: 20%;
    margin-top: 6px;
  }
  
  .col-80 {
    float: left;
    width: 80%;
    margin-top: 6px;
  }

.col-60 select{
    height: 35px;
    width: 60%;
    border-radius: 0%;
    background-color: #fff;
    border: 1px solid black;
}

.name{
    height: 35px;
    width: 70%;
    border-radius: 0%;
    background-color: #fff;
    border: 1px solid black;
}

.text{
    height: 300px;
    width: 95%;
    border-radius: 0%;
    background-color: #fff;
    border: 1px solid black;
}

.mark{
    height: 35px;
    width: 20%;
    border-radius: 0%;
    background-color: #fff;
    border: 1px solid black;
}
  
  /* Clear floats after the columns */
  .row::after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .col-40, .col-60, .col-20, .col-80 input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }

  .button-in-editing button{
  display: flex;
  font-size: 20px;
  border-radius: 0%;
  border: none;
  color: white;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 40%;
}

.button-1{
  width: 300px;
  height: 50px;
  background-color: rgb(31, 130, 201);
}

.button-2{
  width: 400px;
  height: 50px;
  background-color: rgb(31, 130, 201);
}

.button-3{
  width: 180px;
  height: 50px;
  background-color:  rgb(208, 12, 12);
  
}

.button-4{
  width: 150px;
  height: 50px;
  background-color: rgb(31, 130, 201);
}

.button-1:hover,
.button-2:hover,
.button-4:hover{
  background-color: rgb(12, 79, 126);
}

.button-3:hover{
  background-color: rgb(163, 39, 39);
}

.button-group {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.button-group button {
  margin: 0.5rem;
}

.choice{
  margin-bottom: 20px;
  background-color: rgba(128, 128, 128, 0.336);
  margin-left: 40%;
  padding: 20px 20px;
}

.choice-field label{
  font-size: 17px;
}

.choice-field textarea{
    height: 30px;
    width: 100%;
    border-radius: 0%;
    background-color: #fff;
    border: 1px solid black;
}

.choice-field select{
    height: 30px;
    width: 40%;
    border-radius: 0%;
    background-color: #fff;
    border: 1px solid black;
}