.breadcrumbs {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
  }
  
  .breadcrumbs > * {
    margin-right: 0.1rem;
  }
  
  .breadcrumbs > *:last-child {
    margin-right: 0;
  }
  
  .breadcrumbs > a {
    text-decoration: none;
    color: rgb(212, 17, 17) ;
  }